body{
    padding: 0;
     margin: 0;
     box-sizing:border-box;
     text-align: center;
  }
 
  



a:hover
{
    color:rgb(228, 129, 28);
}


footer>#fot1
{   padding-top: 25px;
    padding-bottom: 25px;
    color: white;
    background-color: rgb(40, 40, 40);
    font-size: 12px;

}
#newsletter1
{
    height: 10%;
}
footer>#fot2
{   padding-top: 25px;
    padding-bottom: 25px;
    color: white;
    background-color: rgb(50, 50, 50);
    font-size: 12px;
    font-family: 'Rubik', sans-serif;
}
#fot2>li
{
    color: white;
}
/*login page*/
h5{
    align-items: center;
    text-align: center;
    color: rgb(246, 139, 30);

}
.asideu
{
    padding: 60px;
    margin: 30px;
    align-items: center;


}
.btlogin
{
   background-color: rgb(246, 139, 30);
   font-size:20px;
   color: white;
   font-family: 'Rubik', sans-serif;
   border: none;
   height: 55px;
   border-radius: 5px;
   -webkit-border-radius: 5px;
   -moz-border-radius: 5px;
   -ms-border-radius: 5px;
   -o-border-radius: 5px;
   margin: 10px;

}
.btlogin:hover
{
    background-color:rgb(228, 129, 28);
}
.btlogfb
{
    background-color: rgb(64, 88, 138);
    font-size:20px;
    color: white;
    font-family: 'Rubik', sans-serif;
    border: none;
    height: 55px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    margin: 10px;
}
.btlogfb{
    background-color:rgb(52, 79, 136);
}
.regivmail
{
  width:100%;
  padding-left: 20%;
  padding-right: 20%;

  margin: 30px;

}
